<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> | Chat Page</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <% include temps/header.ejs %>
  <body> 
    <h2>You are currently connecting with <%=name%></h2>
    <div class="container">
      <p  style="list-style-type:none">
        <% for(let m in msg) { %>
          <div class="well">
          <li  style="list-style-type:none">
          <%= msg[m].sentBy + ": " + msg[m].message%> <br> <%=msg[m].sentOn%> 
          </li>
          </div>
          <br>
        <%}%>
        
        <p id="message" style="list-style-type:none"></p>
        
      </p>
     

    </div>
    <div class="container">
      <form class="chat" action="" method="post">
          <input type="text" id="name" value=<%=username%> >
          <input type="text" id="name1" value=<%=name%> >
          <input type="text" id="msg" name="msg" autocomplete="off" >
          <button id="send">send</button>
      </form>
    </div>
    <script>
      const socket = io();
      $(() =>{

        $("#name").hide();
         $("#name1").hide();
        //socket.emit('username',<%=name%>);
        $("form").submit(()=>{
          socket.emit('chat-message',$("#msg").val(),$("#name").val(),$("#name1").val());
          $("#msg").val('');
          return false;
        })

        socket.on('display',(data,sender)=>{
           //let name = $("#name").val();
           let time = new Date();
          $("#message").append('<div class="well">' + '<li>' + sender +  ": " +  data + "<br>" + time + '</li>' + '</div>');
        })

      })
      

    </script>
  </body>
</html>
